<nav class="navbar-fixed-top blog-masthead">
	<div class="container">
	<div class="navbar-header">
	<a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" href="#navbar">
	</a>
	<!-- Insert Logo Here -->
	<a class="navbar-brand" href="#">Template Generator Logo</a>
	</div>
	<nav class="blog-nav" id="navbar" class="collapse navbar-collapse">
		<a class="nav-item blog-nav-item active" href="home">Home</a>
		<a class="nav-item blog-nav-item" href="example">Website Example</a>
		<a class="nav-item blog-nav-item" href="#">Package Information</a>
		<a class="nav-item blog-nav-item" href="forum">Forum</a>
		<a class="nav-item blog-nav-item" href="about-us">About Us</a>
		<a class="nav-item blog-nav-item" href="contact-us">Contact Us</a>
		<a class="blog-nav-item login-item" style="float:right!important;cursor:pointer;">Login | Register</a>
		<a class="blog-nav-item notification login-item" style="float:right!important;cursor:pointer;margin-top:10px;"></a>
	</nav>
	</div>
</nav>