.controlPanel{
	border:1px solid blue;
	width:100%;
	height:30%;
}
.controlButton{
	border:1px solid aqua;
	width:100%;
	height:30%;
}
.tabSection{
	display:inline-block;
	width:10%;
	text-align:left;
}
.controlSection{
	display:inline-block;
	width:64%;
	text-align:center;
}
.dataSection{
	display:inline-block;
	width:25%;
	text-align:right;
}
.controlContent{
	border:1px solid marine;
	width:100%;
	height:70%;
}
.workshop{
	border:1px solid red;
	width:100%;
	height:70%;
}